@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/RuiJiInternal/Views/Shared/_Master.cshtml";
}

@using RuiJi.Internal.Models

@model ArticleListModel

@section StartupScripts
{    
<script type="text/javascript" charset="utf-8" src="@Url.Content("~/ueditor/ueditor.config.js")"></script>
<script type="text/javascript" charset="utf-8" src="@Url.Content("~/ueditor/ueditor.all.js")"> </script>
<script type="text/javascript" src="@Url.Content("~/ueditor/lang/zh-cn/zh-cn.js")"></script>
}

@section Styles
{
<link href="@Url.Content("~/ueditor/themes/default/css/ueditor.css")" rel="stylesheet" type="text/css" />
}

<form method="post">
    <fieldset>
        <legend>My workplace</legend>
        <div id="errorMessage" class="mandatory" style="text-align: center;">
           
        </div>
        <p>
            <label for="ArticleCategoryIdQry" class="criteria-title">
               Article Category:</label>
            @Html.DropDownList("ArticleCategoryIdQry", new SelectList(Model.ArticleCategoryList, "ArticleCategoryId", "Description", Model.ArticleCategoryIdQry))
            <label for="TitleQry" class="criteria-title">
                Title:</label>
            @Html.TextBoxFor(x => x.TitleQry)
            <label for="IsPublishedQry" class="criteria-title">
                HasPublished:</label>
            @Html.DropDownList("IsPublishedQry", new SelectList(Model.PublishOption, "Value","Name", Model.IsPublishedQry))
            <input id="btnSearch" type="submit" value="Search" class="button" />
        </p>
    </fieldset>
</form>

<div id="QueryResult">
    @if (Model.ArticleList != null)
    {
        <table class="table" width="100%">
            <tr>
                <th width ="120px">Article Category</th>
                <th>Title</th>
                <th width ="120px">Author</th>
                <th width ="60px"}>Language</th>
                <th width ="70px">IsPublished</th>
                <th width ="80px">DisplayOrder</th>
                <th width ="50px">Edit</th>
                <th width ="50px">Delete</th>
            </tr>
            @if (Model.ArticleList.Count > 0)
            {
                foreach (var article in Model.ArticleList)
                {
                    var title = article.Title.Length > 20? article.Title.Substring(0,20) + "......" : article.Title;
                    <tr>
                        <td>@article.ArticleCategoryName</td>
                        <td>@title</td>
                        <td>@article.Author</td>
                        <td>@article.Language.ToString()</td>
                        <td>@if(article.IsPublished)
                            {
                                <span>Yes</span>
                            }
                            else
                            {
                                <span>No</span>
                            }
                        </td>
                        <td>@article.DisplayOrder</td>
                        <td><a href="@Url.Content("~/RuiJiInternal/Article/EditArticle?articleid="+ article.ArticleId.ToString())" class="articleeditlink" articleid="@article.ArticleId">Edit</a> </td>
                        <td><a href="#" class="articleDelete" ArticleId="@article.ArticleId" >Delete</a> </td>
                    </tr>
                }
            }
        </table>
    }
</div>
<div id="ArticleEditContainer">

</div>

<script type="text/javascript">
    _ruiji.internal.Article = {};
    _ruiji.internal.Article.EditUrl = '@Url.Content("~/RuiJiInternal/Article/EditArticle")';
    _ruiji.internal.Article.DeleteUrl = '@Url.Content("~/RuiJiInternal/Article/DeleteArticle")';

    $j("#btnCreate").click(function () {
        $j("#ArticleEditContainer").empty();
        $j.ajax({
            type: "Post",
            url: _ruiji.internal.Article.CreateUrl,
            success: function (response) {
                $j("#ArticleEditContainer").html(response).dialog({
                    height: 800,
                    width: 1024,
                    modal: true
                });
                UE.getEditor('ContentDetail');
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    });

    $j(".articleDelete").click(function () {
        var useconfirm = confirm("Are you sure to delete this Article?");
        if (!useconfirm) {
            return false;
            event.preventDefault();
        }

        var artId = $j(this).attr("ArticleId");
        $j.ajax({
            type: "Post",
            url: _ruiji.internal.Article.DeleteUrl,
            data: {ArticleId: artId},
            success: function (response) {
                $j("#btnSearch").click();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    });
</script>