@{
    ViewBag.Title = Resource.Breadcrumb_Top;
    Layout = "~/Views/Shared/_Blank.cshtml";
}

@using Common.Enums
@using RuiJi.UI.Common

<div id="wrap"> 
  <div class="top"> 
           <img src="@Url.Content("~/Contents/UI/Images/Ruiji/ruijilogo2.gif")"  width="193px" height="53px" />
           @*<span style="font-size:30px; font-weight:900; color:red">Ridgess</span><span style="font-size:30px; font-weight:900;">.com</span>*@
        	@*<h1>TodayChina.com</h1>*@ 
    <ul class="red"> 
                <li><a href="#" style="display:none" id="switch-lang" culturecode="@Resource.Nav_SwitchLanguage_Key">@Resource.Nav_SwitchLanguage</a></li>
    </ul> 
            <p></p> 
        </div> 
        <ul class="nav"> 
        	<li><a href="@Url.Action("ItemList", new { categoryId = (int)ArticleCategoryEnum.CompanyInfo })" style=" background-image:none;">@LanguageHelper.GetArticleCategoryUIName((int)ArticleCategoryEnum.CompanyInfo)</a></li><li>|</li>
            <li><a href="@Url.Action("ItemList", new { categoryId = (int)ArticleCategoryEnum.News })" style=" background-image:none;">@LanguageHelper.GetArticleCategoryUIName((int)ArticleCategoryEnum.News)</a></li><li>|</li>
            <li><a href="@Url.Action("ItemList", new { categoryId = (int)ArticleCategoryEnum.Solution })" style=" background-image:none;">@LanguageHelper.GetArticleCategoryUIName((int)ArticleCategoryEnum.Solution)</a></li><li>|</li>
            <li><a href="@Url.Action("ItemList", new { categoryId = (int)ArticleCategoryEnum.Service })" style=" background-image:none;">@LanguageHelper.GetArticleCategoryUIName((int)ArticleCategoryEnum.Service)</a></li><li>|</li>
            <li><a href="@Url.Action("ItemList", new { categoryId = (int)ArticleCategoryEnum.Achievement })" style=" background-image:none;">@LanguageHelper.GetArticleCategoryUIName((int)ArticleCategoryEnum.Achievement)</a></li><li>|</li>
            <li><a href="@Url.Action("ItemList", new { categoryId = (int)ArticleCategoryEnum.TechResource })" style=" background-image:none;">@LanguageHelper.GetArticleCategoryUIName((int)ArticleCategoryEnum.TechResource)</a></li><li>|</li>
            <li><a href="@Url.Action("ItemList", new { categoryId = (int)ArticleCategoryEnum.HumanResource })" style=" background-image:none;">@LanguageHelper.GetArticleCategoryUIName((int)ArticleCategoryEnum.HumanResource)</a></li><li>|</li>
            <li><a href="@Url.Action("ItemList", new { categoryId = (int)ArticleCategoryEnum.ContactUs })" style=" background-image:none;">@LanguageHelper.GetArticleCategoryUIName((int)ArticleCategoryEnum.ContactUs)</a></li><li>|</li>
            <li><a href="@(RuiJi.UI.Common.ConfigManager.Instance.TrackingServiceUrl)" style=" background-image:none;" target="_blank">@Resource.Menu_TrackingService</a></li>
        </ul> 
        <div class="banner white">
            <img src="/Contents/UI/Images/ruiji/378.jpg" alt="RuiJi" />
        </div> 
        <div class="tabde"> 
            <div class="table_title table-title-wrapper"> 
                <ul> 
                    @foreach (var node in RuiJi.UI.Common.NavTreeContext.HomePageShown) {
                        <li key="@("tag-" + node.Name)" class="other">@LanguageHelper.GetArticleCategoryUIName(node.CategoryId)</li>
                    }
                    
                </ul> 
                <div class="clear"></div> 
            </div> 

            <div class="table-content-wrapper">
                @foreach (var node in RuiJi.UI.Common.NavTreeContext.HomePageShown) {
                    <div class="table_content" key="@("tag-" + node.Name)" style="display: none;">
                        <table border="0" cellpadding="15" cellspacing="15" width="100%"> 
                            <tbody>
                                <tr>
                                    @foreach (var subnode in node.Children) {
                                        string linkText = @LanguageHelper.GetArticleCategoryUIName(subnode.CategoryId);
                                        <td width="150"><strong><a href="@Url.Action("ItemList", new { categoryId = subnode.CategoryId })" title="@linkText">@linkText</a></strong></td>
                                    }
                                </tr>
                                <tr>
                                    @foreach (var subnode in node.Children) {
                                        <td style="vertical-align:top;">
                                            @foreach (var subsubnode in subnode.Children) {
                                                string linkText = @LanguageHelper.GetArticleCategoryUIName(subsubnode.CategoryId);
                                                <a href="@Url.Action("ItemList", new { categoryId = subsubnode.CategoryId })" title="@linkText">@linkText</a><br>
                                            }
                                        </td>
                                    }
                                </tr>
                            </tbody>
                        </table>
                    </div>
                }

            </div>
        
        
        </div> 
    <section class="activities-section-wrapper">
        <h2 class="white">
            <strong>@Resource.Activities_Title</strong>
            @Html.Partial("_Activities")
    	</h2> 
    </section>
    	

    <section class="news-section-wrapper">
        <div class="news"> 
            @Html.Partial("_NewsSection")

        </div> 
        </section>
        <div class="footer"> 


        	<p>版权所有 © 上海瑞玑计算机科技有限公司 未经许可 严禁复制 <br>沪ICP备11034101号</p>        </div> 
</div>


@section Scripts {
<script type="text/javascript">
    if (ruiji.isDebug()) {                     // for development
        seajs.use("assets/ruiji/src/index");
        seajs.use("assets/ruiji/src/master");
    } else {                                    // for production
        seajs.use("ruiji/1.0.0/main");
    }
</script>
}