@{
    ViewBag.Title = Resource.Breadcrumb_Top;
    Layout = "~/Views/Shared/_Blank.cshtml";
}

@using Common.Enums

<div id="wrap"> 
  <div class="top"> 
        	<h1>TodayChina.com</h1> 
    <ul class="red"> 
                <li><a href="mailto:demoservice@todaychina.com">@Resource.Nav_MailBox</a></li><li>|</li>
                <li><a href="@Url.Action("SiteMap")">@Resource.Nav_Navigation</a></li><li>|</li>
                <li><a href="@Url.Action("LegalInformation")">@Resource.Nav_LegalInformation</a></li><li>|</li>
                <li><a href="@Url.Action("Links")">@Resource.Nav_Links</a></li><li>|</li>
                <li><a href="#" id="switch-lang" culturecode="@Resource.Nav_SwitchLanguage_Key">@Resource.Nav_SwitchLanguage</a></li>
    </ul> 
            <p>
            </p><form action="/app/search.php?o=search" method="POST">
            	<input name="Field" value="Content" type="hidden">
            	<input name="TableID" value="2" type="hidden">
            	<input src="/Contents/UI/Images/ruiji/ccc.gif" name="submit" class="btn" type="image">
            	<input class="search" name="Keywords" value="输入解决方案关键字" onclick="this.value = '';" type="text">
            </form>
            <p></p> 
        </div> 
        <ul class="nav"> 
        	<li><a href="@Url.Action("ItemList", new { categoryId = (int)ArticleCategoryEnum.CompanyInfo })" style=" background-image:none;">@Resource.Menu_StepIntoRuiji</a></li><li>|</li>
            <li><a href="@Url.Action("ItemList", new { categoryId = (int)ArticleCategoryEnum.News })" style=" background-image:none;">@Resource.Menu_NewsCenter</a></li><li>|</li>
            <li><a href="@Url.Action("ItemList", new { categoryId = (int)ArticleCategoryEnum.Solution })" style=" background-image:none;">@Resource.Menu_SolutionCenter</a></li><li>|</li>
            <li><a href="@Url.Action("ItemList", new { categoryId = (int)ArticleCategoryEnum.Service })" style=" background-image:none;">@Resource.Menu_ServiceCenter</a></li><li>|</li>
            <li><a href="@Url.Action("ItemList", new { categoryId = (int)ArticleCategoryEnum.Achievement })" style=" background-image:none;">@Resource.Menu_SuccessCases</a></li><li>|</li>
            <li><a href="@Url.Action("ItemList", new { categoryId = (int)ArticleCategoryEnum.TechResource })" style=" background-image:none;">@Resource.Menu_Information</a></li><li>|</li>
            <li><a href="@Url.Action("ItemList", new { categoryId = (int)ArticleCategoryEnum.HumanResource })" style=" background-image:none;">@Resource.Menu_HumanResources</a></li><li>|</li>
            <li><a href="@Url.Action("ItemList", new { categoryId = (int)ArticleCategoryEnum.ContactUs })" style=" background-image:none;">@Resource.Menu_ContactUs</a></li><li>|</li>
            <li><a href="@(RuiJi.UI.Common.ConfigManager.Instance.ForumUrl)" style=" background-image:none;" target="_blank">@Resource.Menu_Forum</a></li>
        </ul> 
        <div class="banner white">
@*﻿          <script type="text/javascript">
               AC_FL_RunContent('codebase', 'http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0', 'width', '930', 'height', '274', 'src', '/style/images/banner', 'quality', 'high', 'pluginspage', 'http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash', 'movie', '/style/images/banner'); //end AC code
        </script>*@
            <embed src="@Url.Content("~/Contents/UI/Images/ruiji/banner.swf")" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="930" height="274"> <noscript><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="930" height="274">
            <param name="movie" value="@Url.Content("~/Contents/UI/Images/ruiji/banner.swf")" />
            <param name="quality" value="high" />
            <embed src="@Url.Content("~/Contents/UI/Images/ruiji/banner.swf")" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="930" height="274"></embed>
          </object>
        </noscript>
        </div> 
        <div class="tabde"> 
            <div class="table_title table-title-wrapper"> 
                <ul> 
                    @foreach (var node in RuiJi.UI.Common.NavTreeContext.HomePageShown) {
                        <li key="@("tag-" + node.Name)" class="other">@RuiJi.UI.Common.ResourceManager.GetLocalizedString(node.ResourceKey)</li>
                    }
                    @*<li key="tag0" class="other">IT构建---基础设计及应用测试</li> 
                    <li key="tag1" class="other">IT运维---应用监控、管理与维护</li> 
                    <li key="tag2" class="other">专业实施服务</li> 
                    <li key="tag3" class="">资料提供</li>   *@    
                </ul> 
                <div class="clear"></div> 
            </div> 

            <div class="table-content-wrapper">
                @foreach (var node in RuiJi.UI.Common.NavTreeContext.HomePageShown) {
                    <div class="table_content" key="@("tag-" + node.Name)" style="display: none;">
                        <table border="0" cellpadding="15" cellspacing="15" width="100%"> 
                            <tbody>
                                <tr>
                                    @foreach (var subnode in node.Children) {
                                        string linkText = RuiJi.UI.Common.ResourceManager.GetLocalizedString(subnode.ResourceKey);
                                        <td width="150"><strong><a href="@Url.Action("ItemList", new { categoryId = subnode.CategoryId })" title="@linkText">@linkText</a></strong></td>
                                    }
                                </tr>
                                <tr>
                                    @foreach (var subnode in node.Children) {
                                        <td>
                                            @foreach (var subsubnode in subnode.Children) {
                                                string linkText = RuiJi.UI.Common.ResourceManager.GetLocalizedString(subsubnode.ResourceKey);
                                                <a href="@Url.Action("ItemList", new { categoryId = subsubnode.CategoryId })" title="@linkText">@linkText</a><br>
                                            }
                                        </td>
                                    }
                                </tr>
                            </tbody>
                        </table>
                    </div>
                }

@*                <div class="table_content" key="tag0" style="display: none;"> 
                  <table border="0" cellpadding="15" cellspacing="15" width="100%"> 

                    <tbody>
                        <tr>
                            <td width="150"><strong><a href="http://www.todaychina.com/app/index.php/16,0.html" title="基础设施中心">基础设施中心</a></strong></td>
                            <td width="150"><strong><a href="http://www.todaychina.com/app/index.php/17,0.html" title="质量中心">质量中心</a></strong></td>
                            <td width="150"><strong><a href="http://www.todaychina.com/app/index.php/18,0.html" title="性能中心">性能中心</a></strong></td>
                            <td width="150"><strong><a href="http://www.todaychina.com/app/index.php/19,0.html" title="安全中心">安全中心</a></strong></td>
                        </tr>


                    <tr>

                      <td>
           
        <a href="http://www.todaychina.com/app/index.php/20,0.html" title="刀片服务器">刀片服务器</a><br>
           
        <a href="http://www.todaychina.com/app/index.php/21,0.html" title="小型机">小型机</a><br>
           
        <a href="http://www.todaychina.com/app/index.php/22,0.html" title="存储">存储</a><br>
           
        <a href="http://www.todaychina.com/app/index.php/23,0.html" title="网络基础设施">网络基础设施</a><br>
           
        <a href="http://www.todaychina.com/app/index.php/24,0.html" title="数据库产品">数据库产品</a><br>
           
        <a href="http://www.todaychina.com/app/index.php/74,0.html" title="应用集成平台">应用集成平台</a><br>
                      </td>

                      <td>
           
        <a href="http://www.todaychina.com/app/index.php/25,0.html" title="测试流程及缺陷管理">测试流程及缺陷管理</a><br>
           
        <a href="http://www.todaychina.com/app/index.php/26,0.html" title="自动化软件测试">自动化软件测试</a><br>
                      </td>

                      <td>
           
        <a href="http://www.todaychina.com/app/index.php/27,0.html" title="性能测试">性能测试</a><br>
           
        <a href="http://www.todaychina.com/app/index.php/28,0.html" title="性能诊断">性能诊断</a><br>
                      </td>

                      <td>
           
        <a href="http://www.todaychina.com/app/index.php/29,0.html" title="安全设备">安全设备</a><br>
           
        <a href="http://www.todaychina.com/app/index.php/30,0.html" title="服务器证书">服务器证书</a><br>
           
        <a href="http://www.todaychina.com/app/index.php/31,0.html" title="安全扫描">安全扫描</a><br>
                      </td>
                    </tr> 
                  </tbody></table> 
                </div>
                <div class="table_content" key="tag1" style="display:none;"> 
                  <table border="0" cellpadding="15" cellspacing="15" width="100%"> 

                    <tbody><tr>
                      <td width="150"><strong><a href="http://www.todaychina.com/app/index.php/32,0.html" title="应用系统监控(HP、Bradmark、EMC)">应用系统监控(HP、B...</a></strong></td>
                      <td width="150"><strong><a href="http://www.todaychina.com/app/index.php/40,0.html" title="数据仓库及商业智能">数据仓库及商业智能</a></strong></td>
                      <td width="150"><strong><a href="http://www.todaychina.com/app/index.php/39,0.html" title="数据备份及归档">数据备份及归档</a></strong></td>
                      <td width="150"><strong><a href="http://www.todaychina.com/app/index.php/38,0.html" title="存储管理与维护">存储管理与维护</a></strong></td>
                      <td width="150"><strong><a href="http://www.todaychina.com/app/index.php/37,0.html" title="数据库DBA管理">数据库DBA管理</a></strong></td>
                    </tr>
                    <tr>


                      <td>
              
        <a href="http://www.todaychina.com/app/content.php/16,0.html" title="HP BAC业务可用性管理解决方案">HP BAC业务可用性管理解...</a><br>
              
        <a href="http://www.todaychina.com/app/content.php/125,0.html" title="最大化信息系统的性能和可用性 －Bradmark提供最佳数据库性能优化管理方案">最大化信息系统的性能和...</a><br>
                      </td>


                      <td>
                      </td>


                      <td>
              
        <a href="http://www.todaychina.com/app/content.php/27,0.html" title="数据库备份归档">数据库备份归档</a><br>
                      </td>


                      <td>
              
        <a href="http://www.todaychina.com/app/content.php/124,0.html" title="EMC z/OS Storage Manager 简化大型机环境中的存储管理">EMC z/OS Storage Manag...</a><br>
                      </td>


                      <td>
              
        <a href="http://www.todaychina.com/app/content.php/65,0.html" title="数据库防水墙、实时数据库监控、审计以及入侵防御数据库安全方案">数据库防水墙、实时数据...</a><br>
                      </td>
                    </tr> 
                  </tbody></table> 
                </div>
                <div class="table_content" key="tag2" style="display:none;"> 
                  <table border="0" cellpadding="15" cellspacing="15" width="100%"> 

                    <tbody><tr>
                      <td width="150"><strong><a href="http://www.todaychina.com/app/index.php/42,0.html" title="高级咨询服务">高级咨询服务</a></strong></td>
                      <td width="150"><strong><a href="http://www.todaychina.com/app/index.php/43,0.html" title="专业实施服务">专业实施服务</a></strong></td>
                      <td width="150"><strong><a href="http://www.todaychina.com/app/index.php/44,0.html" title="产品售后支持服务">产品售后支持服务</a></strong></td>
                    </tr>
                    <tr>

                      <td>
           
        <a href="http://www.todaychina.com/app/index.php/45,0.html" title="IT应用规划咨询">IT应用规划咨询</a><br>
           
        <a href="http://www.todaychina.com/app/index.php/46,0.html" title="测试实验室与测试中心建设咨询">测试实验室与测试中心建...</a><br>
                      </td>

                      <td>
           
        <a href="http://www.todaychina.com/app/index.php/47,0.html" title="网络工程建设服务">网络工程建设服务</a><br>
           
        <a href="http://www.todaychina.com/app/index.php/48,0.html" title="业务持续性与恢复服务">业务持续性与恢复服务</a><br>
           
        <a href="http://www.todaychina.com/app/index.php/49,0.html" title="基础设施和系统管理服务">基础设施和系统管理服务</a><br>
           
        <a href="http://www.todaychina.com/app/index.php/50,0.html" title="软件自动化功能测试及性能测试服务">软件自动化功能测试及性...</a><br>
           
        <a href="http://www.todaychina.com/app/index.php/51,0.html" title="Oracle专业服务">Oracle专业服务</a><br>
                      </td>


                      <td>
              
        <a href="http://www.todaychina.com/app/content.php/121,0.html" title="自动化功能和回归测试方案 Functional Testing">自动化功能和回归测试方...</a><br>
              
        <a href="http://www.todaychina.com/app/content.php/59,0.html" title="HP BAC业务可用性管理解决方案">HP BAC业务可用性管理解...</a><br>
                      </td>
                    </tr> 
                  </tbody></table> 
                </div>
                <div class="table_content" key="tag3" style="display: block;"> 
                  <table border="0" cellpadding="15" cellspacing="15" width="100%"> 

                    <tbody><tr>
                      <td width="150"><strong><a href="http://www.todaychina.com/app/index.php/57,0.html" title="今日在线服务体系资料">今日在线服务体系资...</a></strong></td>
                      <td width="150"><strong><a href="http://www.todaychina.com/app/index.php/58,0.html" title="HP产品资料">HP产品资料</a></strong></td>
                      <td width="150"><strong><a href="http://www.todaychina.com/app/index.php/59,0.html" title="EMC产品资料">EMC产品资料</a></strong></td>
                      <td width="150"><strong><a href="http://www.todaychina.com/app/index.php/60,0.html" title="Vmware产品资料">Vmware产品资料</a></strong></td>
                      <td width="150"><strong><a href="http://www.todaychina.com/app/index.php/61,0.html" title="Oracle产品资料">Oracle产品资料</a></strong></td>
                    </tr>
                    <tr>


                      <td>
              
        <a href="http://www.todaychina.com/app/content.php/111,0.html" title="今日在线Oracle服务内容">今日在线Oracle服务内容</a><br>
              
        <a href="http://www.todaychina.com/app/content.php/110,0.html" title="Oracle 标准产品服务">Oracle 标准产品服务</a><br>
              
        <a href="http://www.todaychina.com/app/content.php/60,0.html" title="北京今日在线软件事业部测试服务">北京今日在线软件事业部...</a><br>
                      </td>


                      <td>
              
        <a href="http://www.todaychina.com/app/content.php/130,0.html" title="惠普数据归档软件介绍">惠普数据归档软件介绍</a><br>
              
        <a href="http://www.todaychina.com/app/content.php/31,0.html" title="惠普业务可用性中心BAC">惠普业务可用性中心BAC</a><br>
              
        <a href="http://www.todaychina.com/app/content.php/30,0.html" title="惠普质量中心TD for QC">惠普质量中心TD for QC</a><br>
              
        <a href="http://www.todaychina.com/app/content.php/29,0.html" title="惠普功能测试软件HP QuickTest Professional">惠普功能测试软件HP Qui...</a><br>
              
        <a href="http://www.todaychina.com/app/content.php/28,0.html" title="惠普性能测试软件LoadRunner">惠普性能测试软件LoadRu...</a><br>
                      </td>


                      <td>
              
        <a href="http://www.todaychina.com/app/content.php/123,0.html" title="EMC CLARiiON CX4 机型 120网络存储系统">EMC CLARiiON CX4 机型 ...</a><br>
              
        <a href="http://www.todaychina.com/app/content.php/122,0.html" title="EMC CLARiiON CX4 机型 960 网络存储系统介绍">EMC CLARiiON CX4 机型 ...</a><br>
                      </td>


                      <td>
              
        <a href="http://www.todaychina.com/app/content.php/140,0.html" title="VMware解决方案综述">VMware解决方案综述</a><br>
              
        <a href="http://www.todaychina.com/app/content.php/139,0.html" title="VMware企业级虚拟化产品介绍">VMware企业级虚拟化产品...</a><br>
              
        <a href="http://www.todaychina.com/app/content.php/133,0.html" title="VMware ESX Server 3.5 SPECweb2005 Performance">VMware ESX Server 3.5 ...</a><br>
              
        <a href="http://www.todaychina.com/app/content.php/132,0.html" title="虚拟化解决方案">虚拟化解决方案</a><br>
                      </td>


                      <td>
              
        <a href="http://www.todaychina.com/app/content.php/148,0.html" title="timesten_技术白皮书">timesten_技术白皮书</a><br>
              
        <a href="http://www.todaychina.com/app/content.php/147,0.html" title="Oracle 11g新特性">Oracle 11g新特性</a><br>
              
        <a href="http://www.todaychina.com/app/content.php/146,0.html" title="政府机构 面向全球经济的全球化基础设施">政府机构 面向全球经济...</a><br>
              
        <a href="http://www.todaychina.com/app/content.php/141,0.html" title="Oracle 客户服务支持参考手册">Oracle 客户服务支持参...</a><br>
              
        <a href="http://www.todaychina.com/app/content.php/137,0.html" title="Oracle数据库是企业实施SAP的最佳选择">Oracle数据库是企业实施...</a><br>
                      </td>
                    </tr> 
                  </tbody></table> 
                </div>*@
            </div>
        
        
        </div> 
    <section class="activities-section-wrapper">
        <h2 class="white">
            <strong>@Resource.Activities_Title</strong>
            @Html.Partial("_Activities")
    	</h2> 
    </section>
    	

    <section class="news-section-wrapper">
        <div class="news"> 
            @Html.Partial("_NewsSection")
@*            <ul>
            	<li><strong><a href="http://www.todaychina.com/app/index.php/3,0.html">新闻中心</a></strong></li>

                <li><a href="http://www.todaychina.com/app/index.php/10,0.html" title="公司新闻">公司新闻</a></li>
                <li><a href="http://www.todaychina.com/app/index.php/11,0.html" title="媒体看今日">媒体看今日</a></li>
                <li><a href="http://www.todaychina.com/app/index.php/12,0.html" title="业界动态">业界动态</a></li>
            </ul>
            <ul>
            	<li><strong><a href="http://www.todaychina.com/app/index.php/4,0.html">方案中心</a></strong></li>

                <li><a href="http://www.todaychina.com/app/index.php/13,0.html" title="IT策略-应用规划">IT策略-应用规划</a></li>
                <li><a href="http://www.todaychina.com/app/index.php/14,0.html" title="IT构建-基础设计及应用测试">IT构建-基础设计及应...</a></li>
                <li><a href="http://www.todaychina.com/app/index.php/15,0.html" title="IT运维-应用监控|管理与维护">IT运维-应用监控|管理...</a></li>
            </ul>
            <ul>
            	<li><strong><a href="http://www.todaychina.com/app/index.php/5,0.html">服务中心</a></strong></li>

                <li><a href="http://www.todaychina.com/app/index.php/52,0.html" title="服务内容介绍">服务内容介绍</a></li>
                <li><a href="http://www.todaychina.com/app/index.php/53,0.html" title="客户建议及投诉">客户建议及投诉</a></li>
                <li><a href="http://www.todaychina.com/app/index.php/54,0.html" title="在线服务">在线服务</a></li>
            </ul>
            <ul>
            	<li><strong><a href="http://www.todaychina.com/app/index.php/6,0.html">成功案例</a></strong></li>

                <li><a href="http://www.todaychina.com/app/index.php/55,0.html" title="客户列表">客户列表</a></li>
                <li><a href="http://www.todaychina.com/app/index.php/56,0.html" title="案例分享">案例分享</a></li>
            </ul>
            <ul style="background-image:none;">
            	<li><strong><a href="http://www.todaychina.com/app/index.php/7,0.html">资料提供</a></strong></li>

                <li><a href="http://www.todaychina.com/app/index.php/57,0.html" title="今日在线服务体系资料">今日在线服务体系资料</a></li>
                <li><a href="http://www.todaychina.com/app/index.php/58,0.html" title="HP产品资料">HP产品资料</a></li>
                <li><a href="http://www.todaychina.com/app/index.php/59,0.html" title="EMC产品资料">EMC产品资料</a></li>
                <li><a href="http://www.todaychina.com/app/index.php/60,0.html" title="Vmware产品资料">Vmware产品资料</a></li>
            </ul>*@
        </div> 
        </section>
        <div class="footer"> 

        	<p class="right">
        	<select name="SubSite" onchange="window.location=this.value">
        	<option selected="selected" value="/">今日集团旗下网站</option>

			  <option value="http://www.todaycnc.com">今日标准精密机器</option>
			</select></p>
        	<p>Today Science Technology Development Corporation 2007-2009 All right reserved.<br> <a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备11002232号-2</a></p>        </div> 
</div>


@section Scripts {
<script type="text/javascript">
    if (ruiji.isDebug()) {                     // for development
        seajs.use("assets/ruiji/src/index");
        seajs.use("assets/ruiji/src/master");
    } else {                                    // for production
        seajs.use("ruiji/1.0.0/main");
    }
</script>
}