@model RuiJi.UI.Models.ArticleListModel

@{
    ViewBag.Title = Model.MenuSectionTitle;
    Layout = "~/Views/Shared/_MasterGeneral.cshtml";
}



@section contentItem {
    
        <p><img src="/images/ruiji/list_img.gif"></p>

        @Html.Partial("_BreadcrumbPartial")

        @foreach (var item in Model.Articles) {
            <h5>@item.Title</h5>
            <p class="fontdetail">@item.Abstract<a href="@Url.Action("Detail", new { articleId = item.ArticleId })"><img src="/images/ruiji/list_look.gif"></a></p>
            <hr style="margin-top: 10px;" size="1">
        }


        <p style="padding: 15px 0px 15px 0px ;text-align: center;">
            @if (Model.TotalPageCount > 1) {
                if (Model.PageIndex > 1) {
                <b><a href="@Url.Action("ItemList", new { categoryId = Model.ArticleCategoryId, pageIndex = Model.PageIndex - 1 })">@Resource.Paging_PreviousPage</a></b>
                }
                
                Html.Raw("&nbsp;&nbsp;");
                
                for (int i = 1; i <= Model.TotalPageCount; i++) {
                    if (i == Model.PageIndex) {
                        <font color="#FF0000">[@i]</font>
                    } else {
                        string linkText = string.Format("[{0}]", i);
                        @Html.ActionLink(linkText, "ItemList", new { categoryId = Model.ArticleCategoryId, pageIndex = i })
                    }
                }

                Html.Raw("&nbsp;");
                                                                                
                if (Model.PageIndex < Model.TotalPageCount) {
                <b><a href="@Url.Action("ItemList", new { categoryId = Model.ArticleCategoryId, pageIndex = Model.PageIndex + 1 })">@Resource.Page_NextPage</a></b>
                }
            }
        </p>
    
}
