@using RuiJi.Internal.Models
@using RuiJi.Internal.Common
@using System.Collections.Generic
@model BaseModel
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="robots" content="noindex, nofollow" />    
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" media="screen, projection" href="@Url.Content("~/Styles/base.css?ver=" + Constants.ScriptStyleFileVersion)" />
    <link rel="stylesheet" type="text/css" media="screen, projection" href="@Url.Content("~/Styles/menu/menu.css?ver=" + Constants.ScriptStyleFileVersion)" />
    <script src="@Url.Content("~/Scripts/jquery-1.8.2.js?ver=" + Constants.ScriptStyleFileVersion)" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.js?ver=" + Constants.ScriptStyleFileVersion)" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js?ver=" + Constants.ScriptStyleFileVersion)" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js?ver=" + Constants.ScriptStyleFileVersion)" type="text/javascript"></script>    
</head>
<body>
    <div class="l-topbar">
        <div class="wrap">

        </div>
    </div>
</body>
</html>
