@using RuiJi.Internal.Models
@using RuiJi.Internal.Common
@using System.Collections.Generic
@using RuiJi.Internal.Context
@using RuiJi.Internal.Helpers

@model BaseModel
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="robots" content="noindex, nofollow" />    
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" media="screen, projection" href="@Url.Content("~/Styles/base.css?ver=" + Constants.ScriptStyleFileVersion)" />
    <link rel="stylesheet" type="text/css" media="screen, projection" href="@Url.Content("~/Styles/menu/menu.css?ver=" + Constants.ScriptStyleFileVersion)" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Styles/jquery-ui-1.10.3.custom.css?ver=" + Constants.ScriptStyleFileVersion)" />
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.js?ver=" + Constants.ScriptStyleFileVersion)" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.10.3.js?ver=" + Constants.ScriptStyleFileVersion)" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js?ver=" + Constants.ScriptStyleFileVersion)" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js?ver=" + Constants.ScriptStyleFileVersion)" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/master.js?ver=" + Constants.ScriptStyleFileVersion)" type="text/javascript"></script>    
</head>
<body class="masterbody">
    <div class="l-topbar">
        <div class="wrap">
            @{
                var curUser = RuiJiContext.Current;
            }
            <img src="@Url.Content("~/Images/Logo.gif")" alt="RuiJiLogo" />
        </div>
    </div>
    <div class="l-wrapper">
        <div class="l-col2">
            <div id="promptMessage" style="display: none;">
            </div>
            <div id="promptMessageContainer" style="display: none;">
            </div>
            <div id="body" class="clearfix">
                <div id="version">
                    Welcome, <b>
                        @{
                            if (curUser != null)
                            {
                            @curUser.UserName;
                            }
                            
                        }
                        ! </b>
                                        
                </div>
                @RenderBody()
            </div>
        </div>
        <div class="l-col1">
            @if (curUser != null)
            {
                @(Html.GenerateMenu(Model.CurrentMenu, Model.CurrentSubMenu, curUser))
            }
        </div>

    </div>
    <div id="footer" style="float: none;">
        <ul class="right">
            <li>&copy; www.ridgess.com,All rights reserved @DateTime.UtcNow.Year &nbsp;&nbsp;
            </li>
        </ul>
    </div>

    <div id="divLoading" style="display: none;">
        <div style="width: 405px; height: 390px; padding: 30px;">
            <div id="divLoadingContainer">
                <div class='loading'>
                    <img src='@Url.Content("~/Images/ajax-loader.gif")' /></div>
            </div>
        </div>
    </div>
    <div id="messagebox"></div>
    @RenderSection("StartupScripts", false)
</body>
</html>
