@using RuiJi.UI.Common

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <title>@ViewBag.Title - Ridgess</title>
    <meta name="keywords" content="server,admin" />
    <meta name="description" content="RuiJi" />
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" media="screen, projection" href="@Url.Content(ConfigManager.GetMainStyleFilePath())" />
    <link rel="stylesheet" type="text/css" media="screen, projection" href="@Url.Content("~/sea-modules/assets/ruiji/src/sdmenu.css")" />
    @RenderSection("headerStyles", required:false)
    @RenderSection("headerScripts", required: false)
</head>
<body>
    @RenderBody()


    <script type="text/javascript">
        (function (global) {
            if (global.ruiji) {
                return;
            }

            var ruiji = global.ruiji = {
                _debug: true
            };

            ruiji.isDebug = function () {
                return ruiji._debug;
            };

            ruiji.homepageApiUrl = '@Url.Action("HomePage", "Portal")';

            return ruiji;
            })(this);
        </script>
        <script src="@Url.Content("~/sea-modules/seajs/seajs/2.1.1/sea.js")"></script>
        <script type="text/javascript">
            // set configuration
            seajs.config({
                base: "@Url.Content("~/sea-modules/")",
                alias: {
                    "jquery": "jquery/jquery/1.10.1/jquery.js"
                }
            })
        </script>

    @RenderSection("scripts", required: false)
</body>
</html>