@{
    Layout = null;
}
@model RuiJi.UI.Models.ArticleListModel
@using RuiJi.UI.Common

<h4>
    @Resource.Breadcrumb_Title
    <a href="@Url.Action("HomePage")"> @Resource.Breadcrumb_Top </a> 

    @foreach (var node in RuiJi.UI.Common.NavTreeContext.Path(Model.ArticleCategoryId))
    {
        @(">") <a href="@Url.Action("ItemList", new { categoryId = node.CategoryId })"> @LanguageHelper.GetArticleCategoryUIName(node.CategoryId) </a>
    }
</h4>
