@{
    Layout = "~/Views/Shared/_Blank.cshtml";
}
@using Common.Enums

    <div id="bgwrap">
	<div id="wrap">
        <div class="sectop">

            <ul class="white">
                <li><a href="@Url.Action("HomePage")">@Resource.Nav_BackToHome</a></li><li>|</li>
                <li><a href="mailto:demoservice@todaychina.com">@Resource.Nav_MailBox</a></li><li>|</li>
                <li><a href="@Url.Action("LegalInformation")">@Resource.Nav_LegalInformation</a></li><li>|</li>
                <li><a href="@Url.Action("Links")">@Resource.Nav_Links</a></li><li>|</li>
                <li><a href="#" id="switch-lang" culturecode="@Resource.Nav_SwitchLanguage_Key">@Resource.Nav_SwitchLanguage</a></li>
            </ul>
          <p>
            </p><form action="/app/search.php?o=search" method="POST">
              <input name="Field" value="Content" type="hidden">
              <input name="TableID" value="2" type="hidden">
              <input src="/Contents/UI/images/ruiji/ccc.gif" name="submit" class="btn" type="image">
              <input class="search" name="Keywords" value="输入解决方案关键字" onclick="this.value = '';" onmouseout="if(this.value == '') this.value = '输入解决方案关键字'" type="text">
          	</form>
          <p></p>        

        </div>
        <div class="secnav">
        	<ul>

            	<li><a class="secnavhr" href="@Url.Action("ItemList", new { categoryId = (int)ArticleCategoryEnum.CompanyInfo })">@Resource.Menu_StepIntoRuiji</a></li>
            	<li><a class="secnavhr" href="@Url.Action("ItemList", new { categoryId = (int)ArticleCategoryEnum.News })">@Resource.Menu_NewsCenter</a></li>
            	<li><a class="secnavhr" href="@Url.Action("ItemList", new { categoryId = (int)ArticleCategoryEnum.Solution })">@Resource.Menu_SolutionCenter</a></li>
            	<li><a class="secnavhr" href="@Url.Action("ItemList", new { categoryId = (int)ArticleCategoryEnum.Service })">@Resource.Menu_ServiceCenter</a></li>
            	<li><a class="secnavhr" href="@Url.Action("ItemList", new { categoryId = (int)ArticleCategoryEnum.Achievement })">@Resource.Menu_SuccessCases</a></li>
            	<li><a class="secnavhr" href="@Url.Action("ItemList", new { categoryId = (int)ArticleCategoryEnum.TechResource })">@Resource.Menu_Information</a></li>
            	<li><a class="secnavhr" href="@Url.Action("ItemList", new { categoryId = (int)ArticleCategoryEnum.HumanResource })">@Resource.Menu_HumanResources</a></li>
            	<li><a class="secnavhr" href="@Url.Action("ItemList", new { categoryId = (int)ArticleCategoryEnum.ContactUs })">@Resource.Menu_ContactUs</a></li>
            	<li><a class="secnavhr" href="@(RuiJi.UI.Common.ConfigManager.Instance.ForumUrl)" target="_blank">@Resource.Menu_Forum</a></li>
        	</ul>
        </div>
        <div class="content">
            <section class="content-sidebar-wrapper">
            <div class="sidebar">
                @Html.Partial("_SideBarPartial")
            </div>
            </section>
            <section class="content-item-wrapper">
                <div class="main">
                    @RenderSection("contentItem", required: false)
                </div>
            </section>
        </div>
        <section class="news-section-wrapper">
        <div class="secnews">
            @Html.Partial("_NewsSection")
        </div>
        </section>
        <div class="footer">

        	<p class="right">
        	<select name="SubSite" onchange="window.location=this.value">
        	<option selected="selected" value="/">今日集团旗下网站</option>

			  <option value="http://www.todaycnc.com">今日标准精密机器</option>
			</select></p>
        	<p>Today Science Technology Development Corporation 2007-2009 All right reserved.<br> <a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备11002232号-2</a></p>        

        </div>
</div>

</div>
    
    


@section Scripts {
 <script type="text/javascript">
    if (ruiji.isDebug()) {
        seajs.use("assets/ruiji/src/master");
        seajs.use("assets/ruiji/src/sdmenu");
    } else {
        seajs.use("ruiji/1.0.0/main");
    }
</script>
}
