@{
    Layout = "~/Views/Shared/_Blank.cshtml";
}
@using Common.Enums
@using RuiJi.UI.Common

    <div id="bgwrap">
	<div id="wrap">
        <div class="sectop">
                <a style="color:white" href="@Url.Action("HomePage")">@Resource.Nav_BackToHome</a>               
                <a style="color:white; margin:0 20px 0 800px" href="#" id="switch-lang" culturecode="@Resource.Nav_SwitchLanguage_Key">@Resource.Nav_SwitchLanguage</a>            
        </div>
        <div class="secnav">
        	<ul>

            	<li><a class="secnavhr" href="@Url.Action("ItemList", new { categoryId = (int)ArticleCategoryEnum.CompanyInfo })">@LanguageHelper.GetArticleCategoryUIName((int)ArticleCategoryEnum.CompanyInfo)</a></li>
            	<li><a class="secnavhr" href="@Url.Action("ItemList", new { categoryId = (int)ArticleCategoryEnum.News })">@LanguageHelper.GetArticleCategoryUIName((int)ArticleCategoryEnum.News)</a></li>
            	<li><a class="secnavhr" href="@Url.Action("ItemList", new { categoryId = (int)ArticleCategoryEnum.Solution })">@LanguageHelper.GetArticleCategoryUIName((int)ArticleCategoryEnum.Solution)</a></li>
            	<li><a class="secnavhr" href="@Url.Action("ItemList", new { categoryId = (int)ArticleCategoryEnum.Service })">@LanguageHelper.GetArticleCategoryUIName((int)ArticleCategoryEnum.Service)</a></li>
            	<li><a class="secnavhr" href="@Url.Action("ItemList", new { categoryId = (int)ArticleCategoryEnum.Achievement })">@LanguageHelper.GetArticleCategoryUIName((int)ArticleCategoryEnum.Achievement)</a></li>
            	<li><a class="secnavhr" href="@Url.Action("ItemList", new { categoryId = (int)ArticleCategoryEnum.TechResource })">@LanguageHelper.GetArticleCategoryUIName((int)ArticleCategoryEnum.TechResource)</a></li>
            	<li><a class="secnavhr" href="@Url.Action("ItemList", new { categoryId = (int)ArticleCategoryEnum.HumanResource })">@LanguageHelper.GetArticleCategoryUIName((int)ArticleCategoryEnum.HumanResource)</a></li>
            	<li><a class="secnavhr" href="@Url.Action("ItemList", new { categoryId = (int)ArticleCategoryEnum.ContactUs })">@LanguageHelper.GetArticleCategoryUIName((int)ArticleCategoryEnum.ContactUs)</a></li>
            	<li><a class="secnavhr" href="@(RuiJi.UI.Common.ConfigManager.Instance.ForumUrl)" target="_blank">@Resource.Menu_Forum</a></li>
        	</ul>
        </div>
        <div class="content">
            <section class="content-sidebar-wrapper">
            <div class="sidebar">
                @Html.Partial("_SideBarPartial")
            </div>
            </section>
            <section class="content-item-wrapper">
                <div class="main">
                    @RenderSection("contentItem", required: false)
                </div>
            </section>
        </div>
        <section class="news-section-wrapper">
        <div class="secnews">
            @Html.Partial("_NewsSection")
        </div>
        </section>
        <div class="footer">

        	<p class="right">
        	</p>
        	<p>版权所有 © 上海瑞玑计算机科技有限公司 未经许可 严禁复制 <br>沪ICP备11034101号</p>        </div> 

        </div>
</div>

</div>
    
    


@section Scripts {
 <script type="text/javascript">
    if (ruiji.isDebug()) {
        seajs.use("assets/ruiji/src/master");
        seajs.use("assets/ruiji/src/sdmenu");
    } else {
        seajs.use("ruiji/1.0.0/main");
    }
</script>
}
