@using RuiJi.UI.Common
@{
    
}
<div class="box_sidenav" id="sidebar">
    
    <div>
        @{
            System.Text.StringBuilder sb = new System.Text.StringBuilder();
            RenderManger.RenderMenuTreeChildren(sb, RuiJi.UI.Common.NavTreeContext.StepIn, this.Html, "");
                                
        }
        @Html.Raw(sb.ToString())
    </div>
    <div>
        @{
            sb.Clear();
            RenderManger.RenderMenuTreeChildren(sb, RuiJi.UI.Common.NavTreeContext.NewsCenter, this.Html, "");
        }
        @Html.Raw(sb.ToString())
    </div>
    <div>
        @{
            sb.Clear();
            RenderManger.RenderMenuTreeChildren(sb, RuiJi.UI.Common.NavTreeContext.SolutionCenter, this.Html, "");
        }
        @Html.Raw(sb.ToString())
    </div>
    <div>
        @{
            sb.Clear();
            RenderManger.RenderMenuTreeChildren(sb, RuiJi.UI.Common.NavTreeContext.ServiceCenter, this.Html, "");
        }
        @Html.Raw(sb.ToString())
    </div>
    <div>
        @{
            sb.Clear();
            RenderManger.RenderMenuTreeChildren(sb, RuiJi.UI.Common.NavTreeContext.SuccessCases, this.Html, "");
        }
        @Html.Raw(sb.ToString())
    </div>
    <div>
        @{
            sb.Clear();
            RenderManger.RenderMenuTreeChildren(sb, RuiJi.UI.Common.NavTreeContext.Information, this.Html, "");
        }
        @Html.Raw(sb.ToString())
    </div>
    <div>
        @{
            sb.Clear();
            RenderManger.RenderMenuTreeChildren(sb, RuiJi.UI.Common.NavTreeContext.HumanResources, this.Html, "");
        }
        @Html.Raw(sb.ToString())
    </div>
</div>